@CHARSET "UTF-8";

#haystack{
	position:fixed;right:50px;top:150px;z-index:9999;width:auto;height:auto;
	font-size:17px;
	background:#ffffff;
	background-image: url('hs.ico');
	
}
#haystack ul li{
	padding:5px;
	list-style-type:none;
}